#   Ignora todos los directorios o carpetas .idea del proyecto que se agregan al usa Pycharm
.idea
__pycache__

# Ignora la base de datos sqlite3 que viene por defecto al crear un proyecto de Django.
*.sqlite3
#por ejemplo si no quiero que considere
#*.txt
#*.pptx
#*.pdf

